@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	@apply text-gray-900;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	@apply bg-gray-50;
	margin: 0;
	display: flex;
	justify-content: center;
	align-content: center;
}

button {
	-webkit-tap-highlight-color: transparent;
}

main {
	@apply container max-w-7xl px-8 py-16;
	min-height: 100vh;
}
